@font-face {
	font-family: 'marck_script';
	src: url('../fuentes/marckscript.eot'); /* IE9 Compat Modes */
	src: url('../fuentes/marckscript.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fuentes/marckscript.woff') format('woff'), /* Modern Browsers */
	url('../fuentes/marckscript.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fuentes/marckscript.svg#marck script') format('svg'); /* Legacy iOS */
}
body {
	font-family: "marck_script";
	background-image: url("../imagenes/body-bg.jpg");
}

#encabezado {
	color: white;
	font-size: 3em; /*------------------------ HACEMOS EL TITULO DE LA PAGINA MAS GRANDE ***********/
	text-align: center; /* --------------  SE AGREGA UN CENTRADO-----------------------*/
}

#contenedor {
	width: 100%; /*1024/1024*/
}

#encabezado, #menu, #contenido, #pie-pagina {
	margin-left: auto;
	margin-right: auto;
	width: 95.703125%; /* 980px/1024px */
	margin-bottom: 20px; /* EL MARGIN BOTTOM NO LO PODEMOS CAMBIAR*/
}

#caja-der {
	/*float: right;*/ /* -------------- YA NO FLOTAMOS LAS CAJAS ---------------------*/
	/*width: 29.59183673469388%;*/ /* 290px/980px *//**------------- DEJAMOS QUE LAS CAJAS IZQ Y DER SE EXPANDAN --------------**/
}

#caja-imagenes, #caja-temas {
	padding: 6.896551724137931%; /* 20px/290px */
	background-color: white;
	margin-bottom: 20px; /* no cambia*/
}

#caja-imagenes, #caja-temas {
	text-align: center; /* --------------  SE AGREGA UN CENTRADO-----------------------*/
	font-size: 1.5em; /* --------------  HACEMOS QUE EL TEXTO SEA MAS GRANDE -----------------------*/
}

#menu, #caja-izq, #caja-imagenes, #caja-temas {
	/* ------------ ESQUINAS REDONDAS ---------------*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	/*------------------ SOMBRAS ---------------------*/
	/*sombras*/
	-webkit-box-shadow: 0px 0px 5px 3px #333;
	-moz-box-shadow: 0px 0px 5px 3px #333;
	-o-box-shadow: 0px 0px 5px 3px #333;
	box-shadow: 0px 0px 5px 3px #333;
}

#caja-izq {
	/*float: left;*/ /* -------------- YA NO FLOTAMOS LAS CAJAS ---------------------*/
	/*width: 62.24489795918367%;*/ /* 610px/980px */ /**-------------------- DEJAMOS QUE LAS CAJAS IZQ Y DER SE EXPANDAN -------------**/
	padding: 3.061224489795918%; /*30px/980px*/
	background-color: white;
}

#menu {
	width: 91.796875%; /* 940px/1024px */
	padding: 1.953125%; /*20px/1024px*/
	background-color: #6A6A6A;
	color: white;
	text-align: center; /* --------------  SE AGREGA UN CENTRADO-----------------------*/
	font-size: 1.5em;/* --------------  SE AGREGA UN CENTRADO-----------------------*/
}

#pie-pagina {
	color: white;
}

.menu-link {
	margin-left: 2.127659574468085%; /*20px/940px*/
	font-size: 1.5em; /*24px/16px*/
	color: white;
}

.tema-blog {

	border-style: solid;
	border-color: #EEEEEE;
	border-width: 1px 0px 1px 0px;
}

.clear {
	clear: both;
}

.flexible {
	max-width: 100%;
}
